/* PROMOÇÃO */
 .promotion {
 
width: 100%;
}

.promotion .swiper {
  position: absolute;
  align-items: center;
  
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  background-size: cover;
  margin: 15px;
  border-radius: 10px;  
}

.promotion.swiper.swiper-wrapper.swiper-slide {
  gap: 10px;
  border-radius: 10px;
}

.conteudo{
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  max-width: 100%; /* Não ultrapassa a largura do pai */
   max-height: 100%;}
    /* Não ultrapassa a altura do pai 


.promotion.swiper-slide img {
  background-image: url("https://placehold.co/500x200");
} 
 .promotion.swiper.swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  position: relative;
}

/*PRODUTOS*/

/* .produto{
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: cover;
  margin: 15px;
  border-radius: 10px;
}

.swiper .swiper-slide img {
  justify-content: center;
  width: 80%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  position: relative;
}

.swiper .swiper-slide h1{
  margin-top: 250px;
  position: absolute;
}

.seta-voltar,
.seta-avancar {
  position: absolute;
  z-index: 1;
}
.seta-voltar{
  left: 0%;
  font-size: 30px;
  padding: 10px;
  color: #333333;
  background-color: #FF8C00;
}
.seta-avancar{
  right: 0%;
  font-size: 30px;
  padding: 10px;
  color: #333333;
  background-color: #FF8C00;
}  */

/* .dots {
  text-align: center;
  margin-top: 10px;
}

.dot{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #bbb;
    margin: 0 5px;
    cursor: pointer;
}

.active{
  background: #FF8C00;
  opacity: 0.5;
} */

/* .imagens-slider .slide {
  opacity: 0;
  position: absolute;
}

.conteudo {
  flex: 1;
  min-width: 200px;
  
}


.imagens-slider .slide.mostrar {
  opacity: 1;
  position: relative;
}

.opacidade {
  opacity: 0.6;
  cursor: default;
}

.conteudo .titulo {
  margin-bottom: 10px;
  font-size: 5rem;
  font-weight: 400;
}

.conteudo .texto {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 50px;
}

.conteudo .botao {
  font-size: 3rem;
  font-weight: 700;
}

.botao.rosa {
  color: #C50000;
}

.botao.verde {
  color: #D9DD10;
}

.botao.laranja {
  color: #A63A17;
}

.botao.azul {
  color: #10ACDD;
} */ 
