.container{
    display: grid;
    grid: 
    "header header header header" 100px
    "main1 main1 main1 main1" 500px
    "news1 news2 news3 news4" 500px
    "main2 main2 main2 main2" 300px
   "footer footer footer footer" 100px
    / 1fr 1fr 1fr 1fr;
/*    
    "cabecalho cabecalho cabecalho" 200px
    "menu secao-principal aside" 400px
    "rodape rodape rodape"  250px
    / 160px auto 160px; */
}

.header{
   grid-area: header;
    background-color: #333333;
}
.promotion{
    grid-area:main1; 
    background-color: red ;
}

.news1{
 grid-area: news1;
 background-color: chartreuse;
}
.news2{
    grid-area: news2;
    background-color: rgb(1, 1, 0);
}
.news3{
    grid-area: news3;
    background-color: rgb(21, 0, 255);
}
.news4{
    grid-area: news4;
    background-color: rgb(255, 0, 102);
}
.product{
    grid-area: main2;
    background-color: rgb(255, 0, 0);}

.footer{
grid-area: footer;
background-color: aqua;
}
