.footer {
  margin-top: 30px;
  background-color: #FF8C00;
  color: #fff;
  height: 100;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo-footer{
  font-size: 2.5rem;
  font-weight: 700;
}
.logo-footer a:hover{
  color: rgb(239, 59, 14);
  transition: ease-in-out 0.3s;
}

.footer-brand{
    margin-left: 10px;
}
.footer .social-links{
    font-size: 40px;
    display: flex ;
    justify-content: center;
    gap: 30px;
}

.footer .social-links a:hover{
    color: #ef3b0e;
    transition: ease-in-out 0.3s;
}
.footer .copyright{
margin: 90px 10px 40px 0px;
}

