.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.container-fluid {
    display: grid;
    grid: 
    "header " 100px
    "nav" 45px
    "main1 " 350px
    "newstitle " 70px
    "news " 370px
    "product " 300px
   "footer" 100px
    / 100%;
}
body{
    background-color: #aeaeae;
}

.header {
    grid-area: header;
}
.nav-header-plus{
    grid-area: nav ;
  
}
.promotion{
    grid-area:main1;
 
}
.news_title{
    grid-area: newstitle;
}

.news{
 grid-area: news;
}

.produto{
    grid-area: product;  
}

.footer{
grid-area: footer;
}

.empty-cart {
    display: none;
}