.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.container-fluid{
    display: grid;
    grid: 
    "header header header header" 100px
    "nav nav nav nav" 45px
    "main1 main1 main1 main1" 350px
    "news news news news" 70px
    "news1 news2 news3 news4" 350px
    "product product product product" 300px
   "footer footer footer footer" 100px
    / 1fr 1fr 1fr 1fr;
}

.header{
   grid-area: header;
}
.nav-header-plus{
    grid-area: nav ;
    background-color: #aeaeae;
}
.promotion{
    grid-area:main1;
    background-color:#aeaeae ;
}
.news{
    grid-area: news;
    background-color:#aeaeae 
   
}
.news1{
 grid-area: news1;
 background-color:#aeaeae 
}
.news2{
    grid-area: news2;
    background-color:#aeaeae 
}
.news3{
    grid-area: news3;
    background-color:#aeaeae 
}
.news4{
    grid-area: news4;
    background-color:#aeaeae 
}
.produto{
    grid-area: product;
    background-color:#aeaeae 
}

.footer{
grid-area: footer;
background-color: aqua;
}

.empty-cart {
    display: none;
}