@import url("./variables.css");

.header {
  align-items: center;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-small) var(--spacing-medium);
}

.header__logo img {
  border-radius: var(--border-radius-circle);
  height: 90px;
  object-fit: cover;
  width: 90px;
}

.header__search {
  align-items: center;
  background-color: var(--text-color);
  border: 1px solid #ccc;
  border-radius: var(--border-radius-small);
  display: flex;
  height: 35px;
  padding: var(--spacing-none) var(--spacing-medium);
  position: relative;
  width: 400px;
}

.header__search input {
  border: none;
  caret-color: var(--secondary-color);
  font-size: 1.6rem;
  height: 100%;
  outline: none;
  width: 100%;
}

.header__search-icon {
  cursor: pointer;
  font-size: 17px;
  position: absolute;
  right: var(--spacing-medium);
}

.header__menu {
  align-items: center;
  display: flex;
  list-style: none;
  margin: var(--spacing-none);
  padding: var(--spacing-none);
}

.header__menu-item {
  margin-right: var(--spacing-medium);
}

.header__menu-link {
  border-radius: var(--border-radius-medium);
  color: var(--text-color);
  font-size: var(--font-size-medium);
  font-weight: 700;
  text-decoration: none;
  transition: color var(--transition-speed);
}

.header__menu-link:hover {
  color: var(--secondary-color);
}

.header__cart-button {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: var(--font-size-large);
  margin: var(--spacing-none) var(--spacing-extra-large);
  position: relative;
}

.header__cart-button:focus {
  outline: none;
}

.header__cart-button:hover {
  color: var(--secondary-color);
  transform: scale(1.1);
  transition: transform var(--transition-speed);
}

.header__cart-menu {
  background-color: var(--primary-color);
  border-radius: var(--border-radius-small);
  color: var(--text-color);
  display: var(--display-none);
  min-height: 250px;
  min-width: 200px;
  padding: var(--spacing-none);
  position: absolute;
  right: var(--spacing-none);
  top: 10%;
  transform: translateY(-10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 3;
}

.header__cart-menu.show {
  display: block;
  opacity: 1;
  transform: translateY(var(--spacing-none));
}

.header__cart-title {
  color: var(--text-color);
  font-size: var(--font-size-medium);
  font-weight: 700;
  padding: var(--spacing-small);
  text-align: center;
}

.header__cart-content {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-small);
  padding: var(--spacing-small);
}

.header__cart-list {
  list-style: none;
  margin: var(--spacing-none);
  padding: var(--spacing-none);
}

.header__menu-link {
  cursor: var(--cursor-pointer);
}

.header__cart-icon {
  position: absolute;
}

.header__cart-counter {
  align-items: center;
  background-color: var(--accent-color);
  border-radius: var(--border-radius-circle);
  color: var(--text-color);
  display: flex;
  font-size: 12px;
  font-weight: bold;
  height: 20px;
  justify-content: center;
  position: absolute;
  right: -10px;
  top: -10px;
  width: 20px;
}

/* Navegação */
.nav {
  background-color: var(--background-navbar);
  box-shadow: var(--box-shadow-light);
  min-height: 50px;
}

.nav__menu {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: var(--spacing-none);
  padding: var(--spacing-none);
  width: 100%;
}

.nav__menu-item {
  color: var(--text-light);
  font-size: 1.5rem;
  margin-right: var(--spacing-medium);
}
.nav__menu-link {
  font-weight: 500;
  transition: color var(--transition-speed);
}

.nav__menu-link:hover {
  color: var(--accent-color);
}

.nav__category-button{
  display: var(--display-none);
}
.nav__dropdown {
  background: var(--background-dropdown);
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow-medium);
  display: var(--display-none);
  padding: var(--spacing-small) var(--spacing-none);
  position: absolute;
  z-index: 4;
}

.nav__dropdown.active {
  animation: fadeIn var(--transition-speed);
  display: block;
}

.nav__dropdown-list {
  margin: var(--spacing-none);
  padding: var(--spacing-none);
}

.nav__dropdown-list li a {
  align-items: center;
  color: #333;
  display: flex;
  gap: var(--spacing-small);
  padding: 12px var(--spacing-medium);
  text-decoration: none;
  transition: background var(--transition-speed);
}

.nav__dropdown-list li a:hover {
  background: #f5f5f5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}