.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100vw;
}
.logo img{
    width: 80px;
    height: 80px;
    margin: 10px 0px 10px 60px;
    
    background: #fff;
    border-radius: 50%;
}
.logo:hover img{
    background: rgb(14, 29, 239);
    transition: ease-in-out 0.3s;
}
.search{
    width: 400px;
    height: 35px;
    border-radius: 10px;
    text-align:center;
    position:relative;
}
ul{
display: flex;
align-items: center;
}
.login{
color: #fff;
font-size: 15px;
border-radius: 12px;
font-weight: 700;
}
.car{
    font-size: 25px;
    color: #fff;
  margin:0 50px 0 50px;
}
.magnifying_glass{
    position: absolute;
   right: 38.5%;
   font-size: 17px;
   /*ajeitar para não sair no responsivo*/
}
.header .login:hover a{
    color: saddlebrown;
    transition: ease-in-out 0.3s;
} 
.header .car: i{
    color: saddlebrown;
    transition: ease-in-out 0.3s;
} 