.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100vw;
}
<<<<<<< HEAD
.logo img{
    width: 125px;
    height: 125px;
    margin: 10px 0px 10px 60px;
    
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.logo2{
    width: 80px;
    height: 80px;
=======

.logo img {
    width: 80px;
    height: 80px;
    margin: 10px 0px 10px 60px;

>>>>>>> a14a8c310c1c2a052455ff9e7dfe43c9f54fc62d
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 6.4%;
}
<<<<<<< HEAD
.logo2 a:hover {
    background: #FF8C00;
=======

.logo:hover img {
    background: rgb(14, 29, 239);
>>>>>>> a14a8c310c1c2a052455ff9e7dfe43c9f54fc62d
    transition: ease-in-out 0.3s;
}

.search {
    width: 400px;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

ul {
    display: flex;
    align-items: center;
}

.login {
    color: #fff;
    font-size: 15px;
    border-radius: 12px;
    font-weight: 700;
}

.car {
    font-size: 25px;
    color: #fff;
    margin: 0 50px 0 50px;
}

.magnifying_glass {
    position: absolute;
    right: 38.5%;
    font-size: 17px;
    overflow: hidden;
    /*ajeitar para não sair no responsivo*/
}
<<<<<<< HEAD
.header .car a:hover{
    color: rgb(239, 59, 14);
    transition: ease-in-out 0.3s;
=======

.header a:hover{
    color: saddlebrown;
    transition: ease-in-out 0.3s;
}

.header .carr i:hover{
    color: saddlebrown;
    transition: ease-in-out 0.3s;
>>>>>>> a14a8c310c1c2a052455ff9e7dfe43c9f54fc62d
}