* {
    margin: 0px;
    padding: 0px;
}

html body {
    background-color: #00000004;
    height: 100vh;
    width: 100vw;
}

body {
    background-image: linear-gradient(to top, #000000a1, #1b1713);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100vw;
}

div.campo label {
    display: none
}

div.campo i {
    font-size: 1.9em;
}

.campo {
    position: relative;
    margin: 5px;
}

.person {
    position: absolute;
    background-color: #000;
    color: white;
    border-radius: 5px;
    height: 100%;
}

.key {
    position: absolute;
    background-color: #000;
    color: white;
    border-radius: 5px;
    height: 100%;
}

.email {
    text-align: center;
}

.senha {
    text-align: center;
}

div.campo input {
    width: 40%;
    height: 30px;
    border: 0.8px solid blue;
    border-radius: 5px;

}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 350px;
    text-align: center;
    background: #FF8C00;
    border-radius: 40px;
}


form input[type=submit] {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width: 40%;
    height: 30px;
    background-color: white;
    color: #000;
    border: none;
    border-radius: 5px;
    margin-top: 7px;
}

form input[type=submit]:hover {
    background-color: #000;
    color: white;
}

form button {
    width: 40%;
    height: 30px;
    background-color: #00000004;
    color: #000;
    border-radius: 7px;
    margin-top: 7px;
}

form button:hover {
    background-color: #000;
    color: white;
}

.esqueci {
    display: flex;
    justify-content: center;
}


.btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    color: #000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin :10px;
}


.carta {
    font-size: 24px;
    /* Tamanho do ícone */
}


div#formulario {
    flex-direction: column;
}