/* PROMOÇÃO */
.promotion {
    display: flex;
    flex-direction: row;

}

.imagens-slider {
    align-items: center;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}

.flex {
    display: flex;
    gap: 10px;
    width: 100vw;
}
.slide{
    display: flex;
    gap: 10px;
}

.conteudo.one {
    background-image: url("https://placehold.co/500x200");
    width: 500px;
    height: 200px;
}

.conteudo.two {
    background-image: url("https://placehold.co/500x200");
    width: 500px;
    height: 200px;
}

.conteudo.three {
    background-image: url("https://placehold.co/500x200");
    width: 500px;
    height: 200px;
}

.conteudo.four {
    background-image: url("https://placehold.co/500x200");
    width: 500px;
    height: 200px;
}

.conteudo.five {
    background-image: url("https://placehold.co/500x200");
    width: 500px;
    height: 200px;
}

.conteudo.six {
    background-image: url("https://placehold.co/500x200");
    width: 500px;
    height: 200px;
}

.seta-voltar,
.seta-avancar {
    position: absolute;
    z-index: 1;
}

.seta-voltar {
    left: 2%;
    font-size: 30px;
}

.seta-avancar {
    right: 4%;
    font-size: 30px;
}

/* NEWS */


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.colection-news img {
    width: 225px;
    border-radius: 10px;
}
.angles {
    display: flex;
    gap: 8px;
}

.card .descricao,
.colection-news {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

/*products */
.produto {
    display: flex;
    justify-content: center;

}