
/* NEWS */
.news{
    font-size: 20px;
    color:#0c0c0c;
    font-weight: bold;
    text-align: center;
    align-content: center;
  }
  
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    margin-top: -15px;
    background-color: #aeaeae ;
}


.card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.colection-news img {
    width: 225px;
    height: 225px;
}
.angles {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 8px;
}

.angles .price {
    display: flex;
    align-items: center;
    gap: 5px;
}

.card .angles .botao {
    display: grid;
    width: 50px;
    border-radius: 8px;
    cursor: pointer;
}

.card .angles .botao i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card .angles button {
    height: 40px;
    border-radius: 10px;
    
}

.card .descricao,
.colection-news {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.preco{
    font-size: 2rem;
}
@media (max-width: 900px){
    .container-fluid{
        display: grid;
        grid: 
        "header header header header" 100px
        "nav nav nav nav" 45px
        "main1 main1 main1 main1" 350px
        "news news news news" 70px
        "news1 news1 news2 news2" 370px
        "news3 news3 news4 news4" 370px
        "product product product product" 300px
       "footer footer footer footer" 100px
        / 25% 25% 25% 25%;
    }
}
@media (max-width: 530px){
    .container-fluid{
        display: grid;
        grid: 
        "header header header header" 100px
        "nav nav nav nav" 45px
        "main1 main1 main1 main1" 350px
        "news news news news" 70px
        "news1 news1 news1 news1" 370px
        "news2 news2 news2 news2" 370px
        "news3 news3 news3 news3" 370px
        "news4 news4 news4 news4" 370px
        "product product product product" 300px
       "footer footer footer footer" 100px
        / 25% 25% 25% 25%;
    }
}