@import url("./variables.css");

.news__title {
  color: var(--text-light);
  font-size: var(--font-size-extra-large);
  font-weight: 700;
  margin: var(--spacing-small) 0 var(--spacing-medium) 0;
  text-align: center;
}

.news {
  align-items: center;
  display: var(--display-flex);
  flex-wrap: wrap;
  gap: var(--spacing-large);
  justify-content: center;
  padding: var(--spacing-small);
}

.news__card {
  align-items: center;
  background-color: var(--background-card);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-light);
  cursor: pointer;
  display: var(--display-flex);
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-small);
  transition: transform var(--transition-speed);
  width: 300px;
  height: 350px;
}

.news__card:hover {
  transform: translateY(-5px);
}

.news__link {
  align-items: center;
  color: inherit;
  display: var(--display-flex);
  flex-direction: column;
  text-decoration: none;
}

.news__product-name {
  font-size: var(--font-size-medium);
  font-weight: 500;
  margin: var(--spacing-small) 0;
  text-align: center;
}

.news__card img {
  aspect-ratio: 1.1;
  height: auto;
  margin-top: var(--spacing-small);
  max-width: 150px;
}

.news__product-price {
  font-size: var(--font-size-large);
  font-weight: 500;
  margin: var(--spacing-small) 0;
}

.news__button {
  border-radius: var(--border-radius-medium);
  font-size: var(--font-size-small);
  letter-spacing: 2px;
  margin-bottom: var(--spacing-small);
  width: 100%;
}