/* NEWS */
.news_title {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    margin: 10px 0px 15px 50px;
    text-align: center;
}
.news{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 10px 10px 10px;
    gap: 30px;
    
 
}

.new{
    width: min-content;
    height: 50vh;
    /* width: 300px; */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;

    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
    transition: transform 0.2s ease;
    border: none;
    cursor: pointer;
    min-width: 90%;
    height: 90%;
    width: 300px;
}
.card:hover {
    transform: translateY(-0.3125rem);
}

.card .nome-produto {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px 0px 0px 0px;
}

.card img {
    margin-top: 10px;
    max-width: 150px;
    max-height: auto;
    aspect-ratio: 1;
}

.preco {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    
}

.card .btn-success{
    max-width: 100%;
    border-radius: 10px;
    letter-spacing: 2px;
    font-size: 9px;
}

.nome-produto{
    font-weight: 500;
}


/* @media (max-width: 900px) {
    .container-fluid {
        grid:
            "header " 100px "nav " 45px "promotion" 250px "newstitle " 70px "news " 370px "news " 370px "news " 370px "news " 370px"product " 300px "footer " 100px / 100%;
    }

    .news {
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

}

@media (max-width: 580px) {
    .container-fluid {
        grid:
            "header " 100px "nav " 45px "promotion" 250px "newstitle " 70px "news " 370px "news " 370px "news " 370px "news " 370px "news " 370px "news " 370px "news " 370px "news " 370px "product " 300px "footer " 100px / 100%;
    }

    .news {
        grid-template-columns: repeat(8, 1fr);
    }
    .card{
        max-height: none; 
    }
} */