.container {
    display: flex;
    max-width: 800px;
    padding: 0 20px;
}



.products-grid {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 63px;
    left: 455px;
    z-index: 100;
    width: 25%;
  
}

.product-card {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-left: 10px;
    display: none; /* Produtos inicialmente ocultos */
    animation: fadeIn 0.5s ease-in;
    background-color: #fff;
    z-index: 101; 
    min-height: 100px;
    width: 100%;
}
.product-card:hover { 
  background-color:#FF8C00;
    cursor: pointer;
}


.product-card.show {
    display: block;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.product-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

.product-name {
    margin: 10px 0;
    font-weight: bold;
}

.product-price {
    color: #2ecc71;
    font-size: 18px;
    font-weight: bold;
}

.no-results {
    text-align: center;
    grid-column: 1 / -1;
    padding: 20px;
    color: #000;
    font-size: 30px;
    background-color: #fff;
}