
/* Styles for the search bar in the header */
.header__search {
    position: relative;
    flex-grow: 1;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    background-color: #28a745;
}

/* Styles for the search results dropdown */
.header__search-results {
    position: absolute;
    top: 100%;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10; 
    max-height: 300px; 
    overflow-y: auto;
    border-radius: 20px;
}

/* Styles for the search input field */
.header__search-input {
    width: 80%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
}

/* Styles for the search icon inside the input field */
.header__search-icon {
    position: absolute;
    font-size: 20px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Styles for each search result card */
.search__card {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

/* Remove border from the last search result card */
.search__card:last-child {
    border-bottom: none;
}

/* Change background color on hover for search result cards */
.search__card:hover {
    background-color: #f9f9f9;
}

/* Styles for the image inside the search result card */
.search__card-image img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

/* Styles for the content inside the search result card */
.search__card-content {
    flex-grow: 1;
}

/* Styles for the title inside the search result card */
.search__card-title {
    font-size: 14px;
    margin: 0;
}

/* Styles for the price inside the search result card */
.search__card-price {
    font-size: 12px;
    color: #28a745;
    margin: 0;
}