@import url("./variables.css");

body {
  background-color: var(--background-light);
  font-family: var(--font-family);
  margin: var(--spacing-none);
  padding: var(--spacing-none);
}

.header__menu-link {
  cursor: var(--cursor-pointer);
}
.product-details {
  align-items: center;
  background-color: var(--background-card);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-light);
  display: var(--display-flex);
  flex-wrap: wrap;
  justify-content: center;
  margin: var(--spacing-large) auto;
  max-width: var(--max-width-container);
  padding: var(--spacing-medium);
  text-align: center;
}


.product-details__image {
  flex: 1;
  margin-right: var(--spacing-medium);
  max-width: 500px;
}

.product-details__image img {
  border-radius: var(--border-radius-medium);
  height: var(--height-auto);
  object-fit: cover;
  width: var(--width-full);
}

.product-details__info {
  flex: 1;
  max-width: 500px;
}

.product-details__info h1 {
  color: var(--text-dark);
  font-size: var(--font-size-xxl);
  margin-bottom: var(--margin-bottom-medium);
}

.product-details__info p {
  color: var(--text-gray);
  font-size: var(--font-size-medium);
  line-height: 1.6;
  margin-bottom: var(--margin-bottom-medium);
}

.product-details__info .product-details__price {
  color: var(--primary-color);
  font-size: var(--font-size-extra-large);
  font-weight: 700;
  margin-bottom: var(--margin-bottom-medium);
}

/* Botão de voltar */
.product-details__back {
  margin: var(--spacing-medium) auto;
  max-width: var(--max-width-container);
  padding: var(--spacing-none) var(--spacing-medium);
  text-align: left;
  width: var(--width-full);
}

.btn-back {
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius-small);
  color: var(--text-light);
  cursor: var(--cursor-pointer);
  font-size: var(--font-size-large);
  font-weight: 600;
  padding: var(--spacing-small) var(--spacing-medium);
  text-decoration: none;
  transition: background-color var(--transition-speed);
}

.btn-back:hover {
  background-color: var(--accent-color);
}

.btn-success{
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .product-details__container {
    align-items: center;
    flex-direction: var(--flex-direction-column);
    padding: var(--spacing-small);
  }

  .product-details__image {
    margin-right: var(--spacing-none);
    margin-bottom: var(--spacing-medium);
  }

  .product-details__info h1 {
    font-size: var(--font-size-extra-large);
  }

  .product-details__info p {
    font-size: var(--font-size-small);
  }

  .product-details__info .product-details__price {
    font-size: var(--font-size-large);
  }
}