.product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 10px 0 0 0;
}

.swiper.dois {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('../images/madeira-cinza.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slide.dois img {
  width: 100%;
  height: 95%;
  padding-bottom: 50px;
}

.swiper-slide.dois.primeiro img {
  padding: 50px;
}

.swiper-button-next.dois,
.swiper-button-prev.dois {
  --swiper-navigation-color: #FF8C00;
}

.swiper-pagination {
  --swiper-pagination-color: #FF8C00;
  --swiper-pagination-bullet-active-color: #FF8C00;
}