.swiper-slide.dois {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9; /* Adicionado um fundo padrão */
  border-radius: 10px; /* Bordas arredondadas */
  overflow: hidden; /* Garante que o conteúdo não ultrapasse o slide */
}

