  .promotion {   
   display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .swiper{
      display: flex;
      text-align: center;
        justify-content: center;
       width: 80%;
    height: 100%; 
    overflow: hidden; /* Esconde qualquer parte da imagem que ultrapasse o contêiner */
    position: relative; /* Garante que o img respeite as dimensões do contêiner */
      
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-content: center;
   
  }
  .swiper-slide img {
    width: 100%; /* Ou qualquer largura desejada */
    height: 100%; /* Ou qualquer altura desejada */
    object-fit: contain; /* Mantém a proporção e ajusta a imagem dentro do contêiner */
  }
  .swiper-button-next.um,
  .swiper-button-prev.um {
    color: #FF8C00;
  }
  .swiper-pagination-bullet.um {
    background-color: #FF8C00;
  }
  .swiper-pagination-bullet-active.um {
background-color:#FF8C00;
  }

  .swiper-scrollbar{
    display: none;
  }
  @media screen and (max-width: 900px) {
    .swiper {
      width: 95%;
    }
  }
  @media screen and (max-width: 700px) {

    .swiper {
      width: 95%;
    }

  }
 
  @media screen and (max-width: 400px) {
    .swiper {
      width: 100%;
    }
    .swiper img{
      width: 100%;
    }
  }
 
  