html{
    font-size: 62.5%;
    background-color:#000000e2;
  }
  
  *{
      margin: 0;
      padding: 0;
      text-decoration: none;
      font-family: "Roboto", sans-serif;
      box-sizing: border-box;
      font-weight: 300;
      outline: 1px solid red;
  }
ul, li{
    list-style: none;
}  

button {
    all: unset; /* Remove todas as propriedades padrão */
    display: inline-block; /* Garante que o botão seja exibido corretamente */
    cursor: pointer; /* Adiciona o cursor de "mão" */
}

a{
    all: unset;
    text-decoration: none;
    color: inherit;
}
