@import url("./variables.css");

html {
  background-color: var(--background-dark);
  font-size: var(--font-size-base);
}

* {
  box-sizing: var(--box-sizing);
  caret-color: transparent;
  font-weight: var(--font-weight-light);
  margin: var(--spacing-none);
  padding: var(--spacing-none);
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button {
  all: unset;
  cursor: var(--cursor-pointer);
  display: var(--display-inline-block);
}

a {
  all: unset;
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--text-hover);
  text-decoration: none;
}