/* Responsividade para telas menores que 400px */
@media screen and (max-width: 400px) {
  .swiper {
      width: 100%; /* Ocupa toda a largura da tela */
  }

  .swiper img {
      width: 80%; /* Reduz o tamanho das imagens */
  }

  .header__search {
      width: 25%; /* Reduz a largura do campo de pesquisa */
      height: 30px; /* Ajusta a altura */
  }

  .header__search-input {
      display: none; /* Oculta o campo de pesquisa */
  }

  .category-button {
      display: block; /* Exibe o botão de categorias */
  }

  .nav__menu-item {
      display: none; /* Oculta os itens do menu */
  }

  .nav__menu-item.contato {
      display: block; /* Exibe apenas o item "Contato" */
  }

  .header__logo img {
      width: 68px;
      height: 68px; /* Ajusta o tamanho do logo */
  }

  .header__cart-button {
      margin-left: 10px; /* Ajusta a margem do ícone do carrinho */
  }

  .header__cart-counter {
      right: -30px; /* Ajusta a posição do contador do carrinho */
  }
}

/* Responsividade para telas menores que 600px */
@media screen and (max-width: 600px) {
  .header {
      flex-direction: column; /* Altera o layout do header para coluna */
      align-items: center; /* Centraliza os itens */
  }

  .category-button {
      display: block; /* Exibe o botão de categorias */
  }

  .nav__menu-item {
      display: none; /* Oculta os itens do menu */
  }

  .nav__menu-item.contato {
      display: block; /* Exibe apenas o item "Contato" */
  }

  .header__search-results {
      width: 100%; /* Ocupa toda a largura da tela */
  }

  .header__search-input {
      width: 100%; /* Ocupa toda a largura disponível */
  }

  .header__search {
      width: 80%; /* Reduz a largura do campo de pesquisa */
      margin-bottom: 10px; /* Adiciona margem inferior */
  }

  .header__logo img {
      margin-bottom: 10px; /* Adiciona margem inferior */
  }

  .header__cart-button {
      margin-left: 10px; /* Ajusta a margem do ícone do carrinho */
  }

  .header__cart-counter {
      right: -30px; /* Ajusta a posição do contador do carrinho */
  }

  .swiper img {
      width: 80%; /* Reduz o tamanho das imagens */
  }
}

/* Responsividade para telas menores que 700px */
@media screen and (max-width: 700px) {
  .footer__social-links {
      font-size: 25px; /* Reduz o tamanho dos ícones */
      gap: 10px; /* Reduz o espaçamento entre os ícones */
  }


}

/* Responsividade para telas menores que 900px */
@media screen and (max-width: 900px) {
  .swiper {
      width: 90%; /* Reduz a largura do Swiper */
  }
}