@import url("./variables.css");

@media screen and (max-width: 400px) {
  .swiper {
    width: var(--width-full);
  }

  .swiper img {
    width: var(--width-80);
  }

  .header__search {
    height: var(--height-small);
    width: var(--width-25);
  }

  .header__search-input {
    display: var(--display-none);
  }

  .category-button {
    display: var(--display-block);
  }

  .nav__menu-item {
    display: var(--display-none);
  }

  .nav__menu-item.contato {
    display: var(--display-block);
  }

  .header__logo img {
    height: 68px;
    width: 68px;
  }

  .header__cart-button {
    margin-left: var(--margin-left-small);
  }

  .header__cart-counter {
    right: var(--margin-right-small);
  }
}

@media screen and (max-width: 600px) {
  .header {
    align-items: center;
    flex-direction: var(--flex-direction-column);
  }
  .header__menu{
    margin-top: var(--margin-bottom-small);
  }

  .nav__menu-item.hide {
    display: var(--display-none);
  }

  .nav__category-button{
    display: var(--display-block);
  }



  .header__search-results {
    width: var(--width-full);
  }

  .header__search-input {
    width: var(--width-full);
  }

  .header__search {
    margin-bottom: var(--spacing-small);
    width: var(--width-80);
  }

  .header__logo img {
    margin-bottom: var(--spacing-small);
  }

  .header__cart-button {
    margin-left: var(--margin-left-small);
  }

  .swiper img {
    width: var(--width-80);
  }
}

@media screen and (max-width: 700px) {
  .footer__content {
    flex-direction: var(--flex-direction-column);
 
  }

  .footer__social-links {
    font-size: var(--font-size-large);
    gap: var(--gap-small);
    margin-top: var(--margin-bottom-medium);

  }
}

@media (max-width: 768px) {
  .swiper-slide p {
    font-size: var(--font-size-large);
    padding: var(--spacing-tiny) var(--spacing-small);
  }

  .swiper-slide p.promo-overlay {
    font-size: var(--font-size-extra-large);
  }
}


@media screen and (max-width: 900px) {
  .swiper {
    width: var(--width-90);
  }
}