/* Colors */
:root {
    --primary-color: #FF8C00; /* Cor principal (laranja) */
    --secondary-color: #000; /* Cor secundária (preto) */
    --accent-color: #ef3b0e; /* Cor de destaque (vermelho) */
    --success-color: #28a745; /* Cor de sucesso (verde) */
    --text-light: #fff; /* Texto claro */
    --text-dark: #333; /* Texto escuro */
    --text-gray: #555; /* Texto cinza */
    --background-light: rgba(0, 0, 0, 0.04); /* Fundo claro */
    --background-card: #fff; /* Fundo dos cards */
    --background-navbar: rgba(8, 67, 130, 0.2); /* Fundo da barra de navegação */
    --background-dropdown: white; /* Fundo do dropdown */
    --background-dark: #000000e2; /* Fundo escuro */
    --background-gradient: linear-gradient(to top, #000000a1, #1b1713); /* Gradiente de fundo */
    --overlay-color: rgba(0, 0, 0, 0.7); /* Overlay semi-transparente */
    --border-color: blue; /* Cor padrão da borda */
  
    /* Font Sizes */
    --font-size-base: 62.5%; 
    --font-size-small: 1rem; 
    --font-size-medium: 1.9rem;
    --font-size-large: 2.4rem; 
    --font-size-extra-large: 1.9rem; 
    --font-size-xxl: 2.4rem; 
    
  
    /* Spacing */
    --spacing-none: 0;
    --spacing-tiny: 5px;
    --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-large: 30px;
    --spacing-extra-large: 40px;
  
    /* Border Radius */
    --border-radius-small: 5px;
    --border-radius-medium: 10px;
    --border-radius-large: 40px;
    --border-radius-circle: 50%;
  
    /* Transition */
    --transition-speed: 0.3s ease;
  
    /* Shadows */
    --box-shadow-light: 0 4px 12px rgba(0, 0, 0, 0.1);
    --box-shadow-medium: 0 6px 8px rgba(0, 0, 0, 0.3);
  
    /* Display */
    --display-block: block;
    --display-flex: flex;
    --display-inline-block: inline-block;
    --display-none: none;
  
    /* Flexbox */
    --flex-direction-column: column;
  
    /* Cursor */
    --cursor-pointer: pointer;
  
    /* Widths */
    --width-full: 100%;
    --width-90: 90%;
    --width-80: 80%;
    --width-50: 50%;
    --width-40: 40%;
    --width-25: 25%;
  
    /* Heights */
    --height-auto: auto;
    --height-small: 30px;
    --height-medium: 350px;
  
    /* Margins */
    --margin-bottom-small: 10px;
    --margin-bottom-medium: 20px;
    --margin-left-small: 10px;
    --margin-right-small: -30px;
    --margin-small: 5px;
    --margin-medium: 7px;
  
    /* Padding */
    --padding-small: 8px;
    --padding-medium: 16px;
  
    /* Box Sizing */
    --box-sizing: border-box;
  
    /* Font Family */
    --font-family: "Roboto", sans-serif;
  
    /* Font Weight */
    --font-weight-light: 300;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
  
    /* Max Width */
    --max-width-container: 1200px;
  
    /* Gaps */
    --gap-small: 8px;
  }