.container{
    display: grid;
    grid-template-areas: 
    "header"
    "main1"
    "main2"
    "main3"
   "footer"
    ;
  
}



.header{
   grid-area: header;
    background-color: blue;
}
.conteudo_principal{
    grid-area:main1; 
    background-color: red ;
}

.conteudo_secundario{
 grid-area: main2;
 background-color: chartreuse;
}
.novidades{
grid-area: main3;
background-color: brown;
}
.footer{
grid-area: footer;
background-color: aqua;
}