.container{
    display: grid;
    grid-template-areas: 
    "header"
    "main1"
    "main2"
    "main3"
   "footer"
    ;
  
}

.header{
   grid-area: header;
    background-color: rgb(207, 207, 233);
}
.promotion{
    grid-area:main1; 
    background-color: red ;
}

.news{
 grid-area: main2;
 background-color: chartreuse;
}
.product{
grid-area: main3;
background-color: brown;
}
.footer{
grid-area: footer;
background-color: aqua;
}
.header{
    display: flex;

}
.logo img{
    width: 120px;
    height: 120px;
    
}